@charset "utf-8";

:root {
  --background-color: linear-gradient(to bottom, #98daf2, #9AAAD9, #5a74c1 );
  --background-transparency: rgba(255, 255, 255, 0.2);
  --text-shadow: 1px 1px 2px #000;
  --transition: all .15s ease-in-out;
}


.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

* {margin: 0px;}

body {
  background-image: var(--background-color);
  font-weight: 400;
  color: #fff;
}

header, footer {height: 60px;}

main {
  height: calc(100vh - 60px - 60px);
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: "Rajdhani", sans-serif;
}

/*---------------*/
/*     MAIN      */
/*---------------*/

.game, .gen-text {
  width: 500px;
  justify-content: center;
  align-items: center;
}

/*---clock---*/

.clock {display: grid; justify-content: center;}

svg {width: 200px;
}

.info {
  bottom: 0px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

#counter {
  fill: #fff;
  font-size: 90px;
  font-weight: 500;
  text-shadow: var(--text-shadow);
  overflow: hidden;
}

#border, .back-circle {
  stroke: #432D73;
  stroke-width: 10px;
  fill: none;
  overflow: hidden;
}

.back-circle {stroke: var(--background-transparency);}

/*---BLINK TIMER AT 30S---*/

#border.visible {
  stroke: #ff0000;
  animation: blinking .5s 100;
}

@keyframes blinking {
  50% {stroke: #432D73;}
}

/*---INPUT---*/

input[type="text"] {
  padding: 10px 0;
  font-size: 40px;
  color: #fff;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: 3px solid var(--background-transparency);
  border-radius: 5px;
}

h2 {
  color: #fff;
  font-size: 80px;
  line-height: 48px;
  text-align: center;
  text-shadow: var(--text-shadow);
  margin: 20px 0 40px 0;
}

/*---TIMES-UP---*/

.box {
  color: #000;
  background-color: #fff;
  width: 500px;
  border-radius: 5px;
  padding: 20px;
}

.finished, .start {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.finished, .start.visible, .game  {display: none;}
.finished.visible, .game.visible {display: inline-block;}


/*---START---*/
.start {text-align: center;}

h1 {
  text-align: center;
  font-size: 90px;
  text-shadow: var(--text-shadow);
}

span {
  animation: blink .8s step-end infinite;
  border-right: 7px solid #fff;
  margin-right: 4px;
  text-shadow: var(--text-shadow);
}

.start p {font-size: 30px; font-weight: 500;}

.start button {
  padding: 5px 30px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background-color: #432D73;
}

@keyframes blink {
  from,
  to {border-color: transparent;  }
  50% {border-color: #fff;}
}

h3 {
  color: #000;
  text-align: center;
  font-size: 30px;
}

.game.done{
  filter: blur(6px);
  -webkit-filter: blur(6px);
}

/*---------------*/
/*  RESPONSIVE   */
/*---------------*/